<main>
        
        <section class="investContainer" *ngFor="let mf of mfs">
            <div *ngIf="mf.Investments.length != 0">
            <p class="mfName" >{{mf.fund_name}}</p>        
            <div class="investBox" *ngFor="let invest of mf.Investments">
            <p class="invAmt">Investment Amount: {{invest.investAmount | currency}}</p>
            <p class="invPer">APR: {{invest.percentage | percent}}</p>
            <p class="invRtn">Avg Return: {{invest.return | currency}}</p>
            <button (click)="removeInvest(invest.id)"><fa-icon [icon]="faTrash"></fa-icon></button>
            </div>
         </div>
        </section>
    
</main>
<div class="form">
    <div *ngIf = "notValid" class="validation">
        <p>You have entered an invalid anmount and/or left a field blank please see below requirements.</p>
        <p> Investment amount needs to be for a value greater then $1.000.00</p>
        <p>APR needs to have a value between .99 and .01</p>
        <p>Return needs to have a value greater then $1000.00</p>
        <p>You must select a mutual fund for this Investment option.</p>
         
    </div>
<aside class="buttonContainer">
    <pre><label>Amount to Invest: </label> <input [(ngModel)]= "investData.investAmount" type="number"/></pre> 
    <pre><label>Annual Percentage Rate:</label>  <input [(ngModel)]= "investData.percentage" type="number"/></pre> 
   <pre><label>Average Annual Return: </label> <input [(ngModel)]= "investData.return" type="number"/></pre>
  <pre><label>Which Mutual fund  is this for: </label> <select name="MutualFundId" [(ngModel)]="investData.MutualFundId">
    <option [ngValue] = "mf.id" *ngFor="let mf of mfs">{{mf.fund_name}}</option>
</select>  </pre>
</aside>
<button class="freebutton" (click) = "addInvestment()">Add Investment</button>
</div>