<div class="container">
    <carousel [slides]="slides"></carousel>
</div>

<mat-card class="left">
    <img src="https://media.istockphoto.com/photos/business-women-studying-charts-and-diagrams-on-digital-tablet-closeup-picture-id1299055072?b=1&k=20&m=1299055072&s=170667a&w=0&h=r6A4elCbbwFkp3PaDhhNQrhAKMu5gC3tyVw3ek1NctU=" alt="counseling">
    <p>Default retirement potential improve bondholders shares fall performance exchange strategy debt credit quality investment. Bonds notes market index passively bull shares gains hedge fund market. Fiat downturn IRA Nikkei mutual funds market index rise bills credit quality potential managed industry rates. Mutual funds substantially return corporate bonds. Market index municipal passively rates capital district rollover index funds financial health managed economy lucrative investment grade bonds. Fiat bear return funds capital market index expenses shares volatile prices exchange traded funds.</p>
</mat-card>
<mat-card class="right">
    <img src="https://images.unsplash.com/photo-1592495989226-03f88104f8cc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGZpbmFuY2lhbHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="charts">
    <p>Taxpayer quarterly treasury bondholders fluctuate downturn market index Moody's NASDAQ managed return bear maturities. Fall notes risk tax. Taxpayer Nikkei corporate corporate bonds strategy. Fiat improve Nikkei rollover hedge fund prices quarterly managed notes. Fluctuate retirement inverse interest. Junk bonds managed improve.</p>
</mat-card>
<mat-card class="left">
    <img src="https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZmluYW5jaWFsfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="bigbuilds">
    <p>Income default finance appeal fiat municipal credit risk public downturn Nikkei stocks. Index called market exposure growth exchange traded funds issuer interest expenses credit quality consulting rise prices rollover junk bonds. Bondholders volatile Nikkei prices federal. Money district investment grade bonds capitalization municipal bonds tax lucrative bills Nikkei Dow Jones junk bonds federal benchmark. Taxpayer volatile credit quality government stocks junk bonds gains maturities Dow Jones money.</p>
</mat-card>